@use "../helpers/variables" as v;
%features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

%srvs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}
%prj-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

%about-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 500px;
  gap: 3rem;
  @media (v.$max-medium) {
    grid-template-columns: 1fr;
  }
}
