@use "variables" as v;
@use "colors" as c;
@use "mixins" as m;
.main-heading {
  text-align: center;
  margin-bottom: 6rem;
  h1 {
    font-size: 6rem;
    font-weight: 900;
    color: rgba(c.$clr-primary, 0.3);
    transition: color v.$transition;
  }
  p {
    color: c.$clr-secondry;
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: -35px;
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1rem;
      margin-top: -25px;
    }
  }
}
div {
  &:hover {
    .main-heading {
      h1 {
        color: rgba(c.$clr-primary, 0.5);
      }
    }
  }
}
%white-section {
  padding-block: v.$section-padding;
  box-shadow: 0 2px 10px hsl(0, 0%, 0%, 0.1);
}

%gray-section {
  background-color: c.$clr-section;
  padding-block: v.$section-padding;
  box-shadow: 0 2px 10px hsl(0, 0%, 0%, 0.1) inset;
}
